name: Build and Release .deb package

on:
  push:
    tags:
      - 'v*'  

jobs:
  build-deb:
    runs-on: ubuntu-latest
    name: Build project and create .deb

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y g++ cmake libgtest-dev build-essential

      - name: Build GoogleTest
        run: |
          if [ -d "/usr/src/googletest" ]; then
            cd /usr/src/googletest
          else
            cd /usr/src/gtest
          fi
          sudo cmake .
          sudo make
          sudo cp lib/*.a /usr/lib/

      - name: Configure and build project
        run: |
          rm -rf build
          mkdir -p build && cd build
          cmake .. -DBUILD_TESTS=ON
          cmake --build . --config Release

      - name: Run tests
        run: |
          cd build
          ctest --output-on-failure

      - name: Package into .deb
        run: |
          cd build
          cpack -G DEB

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: StatePatternApp.deb
          path: build/*.deb

  release:
    needs: build-deb
    runs-on: ubuntu-latest
    name: Create GitHub Release

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: StatePatternApp.deb
          path: .

      - name: Create Release
        id: create_release
        uses: actions/create-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./StatePatternApp.deb
          asset_name: StatePatternApp_${{ github.ref_name }}_amd64.deb
          asset_content_type: application/vnd.debian.binary-package
