name: Build and Release .deb package

on:
  push:
    tags:
      - 'v*'  # Например, git tag v1.0.0

jobs:
  build-deb:
    runs-on: ubuntu-latest
    name: Build project and create .deb

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup dependencies
        run: |
          sudo apt update
          sudo apt install -y g++ cmake libgtest-dev build-essential

      - name: Build GoogleTest
        run: |
          cd /usr/src/gtest
          sudo cmake .
          sudo make
          sudo cp *.a /usr/lib/

      - name: Create build directory
        run: |
          mkdir -p build && cd build
          cmake ..
          cmake --build .

      - name: Run tests
        run: |
          cd build
          ctest --output-on-failure

      - name: Package into .deb
        run: |
          cd build
          cpack -G DEB

      - name: Upload .deb as artifact
        uses: actions/upload-artifact@v3
        with:
          name: StatePattern.deb
          path: build/*.deb

  release:
    needs: build-deb
    runs-on: ubuntu-latest
    name: Create GitHub Release with .deb

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: StatePattern.deb
          path: .

      - name: Move .deb to root
        run: mv *.deb StatePatternApp.deb

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false

      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./StatePatternApp.deb
          asset_name: StatePatternApp_${{ github.ref_name }}_amd64.deb
          asset_content_type: application/vnd.debian.binary-package
